.profile-header {
  width: 100%;
  background: #fff;
  padding: 32px 0;
  border-bottom: 1px solid #ddd;
}

.p-h-wrapper {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row
}

.profile-body {

}

.p-categories {
  padding: 16px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.p-tabs-outter-wrapper {
  position: relative;
}

.p-tabs-outter-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  background: #fff;
  height: 48px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.09);
}

.p-tab-wrapper {
  border-radius: 3px;
  margin-top: 16px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  padding: 16px;
}


.p-tabs-inner-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.p-category-label {
  padding: 8px 16px;
  border-radius: 3px;
  background: #ddd;
  margin-right: 8px;
}
