.feedback-form-list {
  background: #fff;
  min-height: 100%;
  /*padding: 16px;*/
  border-right: 1px solid #ddd;
}

.feedback-form-editor {
  background: #fff;
  min-height: 100%;
  padding: 16px;
  margin: 16px;
  flex: 50
}

.feedback-form-preview {
  background: #fff;
  min-height: 100%;
  padding: 32px;
  margin: 16px;
  flex: 50
}

.feedback-preview-title {
  font-size: 30px;
  padding: 0 0 8px 0
}

.feedback-preview-question-wrapper {
  margin: 16px 0
}

.feedback-preview-question {
  font-size: 20px;
  padding: 8px 8px 8px 0
}

.feedback-rates-preview {
  margin: 16px 0;
  padding: 8px;
  border: 1px solid #ddd
}
