.App {
  font-family: 'Roboto', sans-serif;
}

.navbar-wrapper {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 0px;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 3;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 16px;
}

.App-body {
  margin-top: 77px;
}

.main-wrapper {
  padding: 16px;
  max-width: 1024px;
  margin: 0 auto
}

.xl-wrapper {
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto
}

.App-header {
  background-color: #00b0ff;
  background-image: url("./assets/header-pic.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size:cover;
  padding: 32px 16px;
  color: white;
  position: relative;
  top: 77px;
  z-index: 1;
}

.header-promot {
  font-size: 32px;
  text-shadow: 1px 2px 3px #666;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  align-items: center;
}

.flex-baseline {
  align-items: baseline;
}

.flex-end {
  align-items: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 681px) {
  .nav-brand-text {
    font-size: 26px;
    font-family: "Raleway";
    font-weight: 600;
    color: rgb(48, 73, 102);
    cursor: pointer;
  }

  .flex-33, .flex-33-d {
    flex: 33;
  }
  .flex-home-card-d {
    flex: 33;
  }
}

@media screen and (max-width: 680px) {
  .nav-brand-text {
    font-size: 26px;
    font-family: "Raleway";
    font-weight: 600;
    color: rgb(48, 73, 102);
    cursor: pointer;
    width: 50%
  }

  .flex-33-d, .flex-home-card-d {
    width: 100%
  }
  .home-feature-card {
    margin-bottom: 32px
  }
  .home-feature-card:last-child {
    margin-bottom: 0
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.default-padding {
  padding: 16px
}

.raleway {
  font-family: "Raleway" !important
}

.home-headline {
  font-size: 32px;
  margin-left: 16px;
  position: relative;
}

.overline::before {
  background-color: rgb(68, 138, 255);
  bottom: -16px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  width: 80px;
}

.fade-enter, .fade-leave {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.g-background {
  background-color: #f6f6f6
}

.vertical-form-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
